# gitignore file
/gwoptics/nbproject/private/
/gwoptics/build/
/gwoptics/bin/
/gwoptics/out/
/gwoptics/distribution/
/gwoptics/reference/
/gwoptics/dist/
/nbproject/private/
/build/
/dist/
/bin/
